@import "compass/reset";

@font-face{
    font-family: Raleway; 
    src: url(../fonts/ofont.ru_Raleway.ttf); 
}
 
$primary-colorGreen: #26AF76;
$primary-colorOrange: #E7746F;
$primary-colorGreen2:#2fa49d;
html, body{
    height: 100%;
    font-family: Arial;
    color: #333;   
}

/*+++++++++++ Остальные стили +++++++++++++*/

.fullscr{
    background-image: url(../images/2.jpeg);
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    text-align: center;
    z-index: 4;
    font-family: Raleway;
    &__Overlay{
        //background-image: url(../images/pattern.png);
        background-color: rgba(44, 62, 80, 0.3);
        z-index: 1;
        background-repeat: repeat;
        height: 100%;
    }
    &__intro{
        width: 100%;
        top:35%;    
        color: #fff;
        position: absolute;
        &_big{
            font-size: 100px;
            padding: 15px;
            text-transform: uppercase;
        }
        &_small{
            font-size: 16px;
            padding: 15px;
        }
    }
}


/* Заголовки */

.title{
    margin-top:30px; 
    font-size: 32px;
    padding: 20px;
    text-transform: uppercase;
    text-align: center;
    font-family: Raleway;
    &__line{
        margin: 30px auto 1px;
        width: 70px;
        background: rgba(135, 135, 135, 0.5);
        height: 1px;
    }
    &__description{
        width: 40%;
        margin:5px auto;
        color: #666;
        font-size: 22px;
        text-transform: none;
        line-height: 30px;
        font-weight: normal;
    }
}


.section{
	max-width: 1127px;
	margin: 0 auto 30px;
	overflow: hidden;
	p{
		padding: 5px;
		i{
			color: $primary-colorGreen;
			font-size: 20px;
			margin: 5px;
		}
	}
}

#sectionDark{
    background-color: #333;
    min-height: 200px;
}


/* Меню */

.mainMenuWrap{
    width: 100%;
    z-index: 2;
    text-align: center;
    transition: background-color .3s linear;
    position: fixed;
    top:0px;
    border-bottom: 1px solid #d3d3d3;
    background-color: #fff;

}
.mainMenu{
    text-transform: uppercase;
    display: inline-block;
    font-size: 20px;
    text-align: center;
    font-family: Raleway;
    line-height: 50px;
    max-height: 65px;
    a {
        text-decoration: none;
        display: inline-block;
        position: relative;
    }
    &__item{
        float: left;
        padding: 10px 15px;
        letter-spacing: 3px;   
        margin: 0 10px;
        max-height: 65px;
        a{
            color: #333;
            text-decoration: none;  
            &:hover{
                color: $primary-colorOrange;
            }
        }
        &_white{
            color: white !important;
             &:hover{
                color: $primary-colorOrange !important;
            }
        }
        ul{
            background: #333333;
            transition: all .3s ease-in-out;
            visibility: hidden;
            padding: 10px;
            text-align: center;
            font-size: 12px;
            text-transform: uppercase;
            min-width: 170px;
            font-family: Raleway;
            li{
                position: relative;
                left: 0;
                float: none;
                height: auto;              
            }
        } 
        &:hover > ul {
            opacity: 1;
            visibility: visible;
            margin: 0;
            z-index: 11;
            }
    }
    &__active{
        a{
            color: $primary-colorGreen; 
        }
    }   
}


.Mypagination{
    
    color:#fff;
    font-size: 19px;
    text-align: center;
    &__elem{
        width: 50px;
        height: 50px;
        background-color: $primary-colorGreen2;
        margin: 20px 5px;
        display: inline-block;
        transition:all .4s linear;
        &_active{
            background-color: #333;
        }
        a{
            line-height: 50px;
            text-decoration: none;
            color: #fff;
            background-color: transparent;
            border: none;
        }
        &:hover{
            background-color: #333;
        }
    }
}

/*+++++++++ Блок о компании ++++++++++ */

.aboutWrap{
	//margin-top: 30px;
	padding: 15px;
	background-color: #f2f2f2;
	font-family: Raleway;
	font-size: 22px;
	text-align: justify;
    overflow: hidden;
	p{
		text-indent: 40px;
	}
	&__sign{
		margin: 30px 0;
		text-align: right;
    	font-style: italic;
    }
}

/* Кавычки */
.quotes{
    text-align: right;
    color: #646464;
    padding: 10px;
    margin: 20px;
    border-right: 4px solid #d3d3d3;
    line-height: 30px;
    &__sign{

    	font-style: italic;
    	font-size: 16px;
    }
}

#advantage{
    overflow: hidden;
}
.advantage{
    padding: 30px 0;
    width: 90%;
    max-width: 260px;
    margin: 20px auto;
    background-color: #fff;
    border-bottom: 1px solid #d3d3d3;
    text-align: center;
    color: #000;
    font-size: 16px;
    min-height: 280px;
    &__icon{
        font-size: 50px;
        color: $primary-colorGreen;
    }
    &__title{
        font-weight: 300;
        text-transform: uppercase;
        padding: 10px;
        margin-top: 15px;
    }
    &__text{
        font-size: 19px;
        color: #666;
        text-transform: none;
        font-weight: normal;
        padding: 10px;
        margin: 10px 10px;
        line-height: 25px;

    }
    p{
        text-indent: 0px !important;
    }
    &:hover>.advantage__icon{
        color: $primary-colorOrange;
    }
}


/* Анимированные цифры */

.countsWrap{
    text-align: center;
    font-size: 22px;
    font-family: Raleway;
    max-width: 1127px;
    margin: 20px auto;
    overflow:hidden;
    &__counts{
        border: 2px solid $primary-colorOrange;
        border-radius: 50%;
        width: 180px;
        height: 180px;
        display: inline-block;
        margin-left: 20px;
        p{
            margin-top: 20px;
            text-indent: 0px !important;
            span{
                font-size: 50px;
                color: $primary-colorOrange;
            }
        }
    }

}

/*++++++++++++ Блок Услуги ++++++++++++*/
.services{
    font-family: Raleway;
    color: #333;
    font-size: 22px;
    padding-bottom: 30px;
    &__item{
        line-height: 32px;
    }
    i{
        color: $primary-colorGreen;
        margin-right: 10px;
    }
}


/*++++++++++++ Блок Новости ++++++++++++*/
.newsWrap{
    background-color: #f2f2f2;
    font-family: Raleway;
    font-size: 22px;
    text-align: center;
    overflow: hidden;
    padding-bottom: 30px;
}

/* Анимированный бордер */
.box {
    width: 300px;
    height: 300px;
    position: relative;
    background: rgba(255,255,255,1);
    display: inline-table;
    margin: 10px 10px;
    cursor: pointer;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
     svg {
        position: absolute;
        top: 0;
        left: 0;

        line {
            stroke-width: 2;
            stroke: $primary-colorOrange;
            fill: none;
           -webkit-transition: all .5s;
            transition: all .5s;
        }

        line.top,
        line.bottom {
            stroke-dasharray: 330 240; 
        }

        line.left,
        line.right {
            stroke-dasharray: 330 240;
        }
    }
   
    &:hover {
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
    }
    &:hover svg line {
        stroke-width: 10;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
    }
}

.box:hover svg line.top {
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px);
}

.box:hover svg line.bottom {
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
}

 .box:hover svg line.left {
    -webkit-transform: translateY(300px);
    transform: translateY(300px);
}

.box:hover svg line.right {
    -webkit-transform: translateY(-300px);
    transform: translateY(-300px);
}



.news{
display: block;
    font-family: Raleway;
    font-size: 22px;
    &__date{
        margin-top: 20px;
        color: $primary-colorGreen;
        text-align: center;
    }
    &__img{}
    &__title{
        font-size: 28px;
        text-align: center;
    }
    &__btn{
        background-color: $primary-colorOrange;
        padding: 10px;
        color: #fff;
        width: 100px;
        position: absolute;
        right: 10px;
        bottom: 10px;
        a{
            color: white;
            text-decoration: none;
        }
        &:hover{
            background-color:#BB5C58;
        }
    }
    &__text{}
}


/*++++++++++++ Блок Партнеры ++++++++++++*/

.partners{
    font-family: Raleway;
    color: #333;
    font-size: 20px;
    padding-bottom: 30px;
    text-align: center;
    &__item{
        line-height: 28px;
    }
    i{
        color: $primary-colorGreen;
        margin-right: 10px;
    }
}

/* аккордеон  */
.horizontal-click [name="vkl"] { display: none; }
.horizontal-click > :not(input):not(label) {
  overflow: hidden;
  height: 0;
  margin: 0;
  padding: 0 .5em;
  border-top-style: none;
  transition: .5s;
}
.horizontal-click > label {
  overflow: hidden;
  font-family: Raleway;
  font-size: 22px;
  display: block;
  padding: .5em 1em;
  background: #d3d3d3;
  color: #333;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  text-align: center;
  line-height: 30px;
  border-bottom: 1px solid #fff;
  transition: .5s;
  &:hover{
    background: #AFADAD;
  }
}
.horizontal-click > :checked + label + * {
  overflow: auto;
  height: 450px;
}
.horizontal-click > :checked + label {
  background: $primary-colorGreen;
  cursor: default;
  color: white;
}

/*++++++++++++ Блок Лицензии ++++++++++++*/

.licenceWrap{
    background-color: #f2f2f2;
    font-family: Raleway;
    font-size: 22px;
    text-align: center;
    overflow: hidden;
    padding-bottom: 30px;
}

.effect {
    position: relative;
    img {
        width: 100%;
        height: 100%;
    }
}

.eff-1-1 {
    max-width: 450px;
    margin: 10px auto;
    overflow: hidden;
    .caption {
        position: absolute;
        top: -100%;
        left: 0px;
        background: rgba(38,175,118,0.8);
        width: 100%;
        height: 100%;
        color: #fff;
        -o-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
        -moz-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
        -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
        -ms-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
        transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
        i{
            position: relative;
            top:48%;
        }
    }
    &:hover .caption {
         top: 0px;
    }
}

/*++++++++++++ Блок Контакты ++++++++++++*/

/*Карта*/
.map {
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
}


/* Базовый контейнер табов */
.tabs {
    min-width: 320px;
    padding: 0px;
    margin: 0 auto;
    text-align: center;
    input {
        display: none;
        border: none;
        &:checked +label {
            color: $primary-colorGreen;
            border-bottom: 3px dashed $primary-colorGreen;
        }
    }
    label {
        display: inline-block;
        margin: 0 0 -1px;
        padding: 15px 25px;
        text-align: center;
        color: #aaa;
        margin-bottom: 20px;
        margin-left: 10px;
        &:hover {
            color: #888;
            cursor: pointer;
        }
    }

  
}

section {
  display: none;
  background: #fff;
  
}

#content1,#content2{
    display: none;
}
#tab1:checked ~ #content1,
#tab2:checked ~ #content2 {
  display: block;
}



