@import "compass/reset";

@font-face{
    font-family: Raleway; 
    src: url(../fonts/ofont.ru_Raleway.ttf); 
}
 
$primary-colorGreen: #26AF76;
$primary-colorOrange: #E7746F;
$primary-colorGreen2:#2fa49d;

$fontColor: #1c0f04;

html, body{
    height: 100%;
    font-family: Arial;
    color: #333;   
}

/*+++++++++++ Остальные стили +++++++++++++*/

.fullscr{
    background-image: url(../images/factory2.jpeg);
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    text-align: center;
    z-index: 4;
    font-family: Raleway;
    &__Overlay{
        //background-image: url(../images/pattern.png);
        //background-color: rgba(44, 62, 80, 0.4);
        z-index: 1;
        background-repeat: repeat;
        height: 100%;
    }
    &__intro{
        width: 100%;
        top:35%;    
        color: #fff;
        position: absolute;
        &_big{
            font-size: 100px;
            padding: 15px;
            text-transform: uppercase;
        }
        &_small{
            font-size: 16px;
            padding: 15px;
        }
    }
}


/* Заголовки */

.title{
    margin-top:30px; 
    font-size: 32px;
    padding: 20px;
    text-transform: uppercase;
    text-align: center;
    font-family: Raleway;
    &__line{
        margin: 30px auto 1px;
        width: 70px;
        background: rgba(135, 135, 135, 0.5);
        height: 1px;
    }
    &__description{
        width: 50%;
        margin:5px auto;
        color: #666;
        font-size: 22px;
        text-transform: none;
        line-height: 30px;
        font-weight: normal;
    }
}


.section{
	max-width: 1127px;
	margin: 0 auto 30px;
	overflow: hidden;
	p{
		padding: 5px;
		i{
			color: rgba(194,156,109,.8);
			font-size: 20px;
			margin: 5px;
		}
	}
}

#sectionDark{
    background-color: $fontColor;
    min-height: 200px;
    text-align: center;
    p{
        color: rgb(194,156,109);
        line-height: 200px;

    }
}


/* Меню */

.mainMenuWrap{
    width: 100%;
    z-index: 2;
    text-align: center;
    transition: background-color .3s linear;
    position: fixed;
    top:0px;
    border-bottom: 1px solid #d3d3d3;
    background-color: #fff;

}

#touch-menu {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 25px;
    color: #fff;
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: rgba(0,0,0,0.3);
    display: none;
    z-index: 1;
    transition: all.3s linear;
    &:hover, &:active{
        color: $primary-colorGreen;
        background-color: transparent;
    }

}

.activeMenu{
    color: $primary-colorGreen !important;
    background-color: transparent !important;
}
.mainMenu{
    text-transform: uppercase;
    display: inline-block;
    font-size: 20px;
    text-align: center;
    font-family: Raleway;
    line-height: 50px;
    max-height: 65px;
    a {
        text-decoration: none;
        display: inline-block;
        position: relative;
    }
    &__item{
        float: left;
        padding: 10px 15px;
        letter-spacing: 3px;   
        margin: 0 10px;
        max-height: 65px;
        a{
            color: $fontColor;
            font-weight: 100;
            text-decoration: none;  
            &:hover{
                color: $primary-colorOrange;
            }
        }
        &_white{
            color: white !important;
            font-weight: 600 !important;
             &:hover{
                color: $primary-colorOrange !important;
            }
        }
        ul{
            background: $fontColor;
            transition: all .3s ease-in-out;
            visibility: hidden;
            padding: 10px;
            text-align: center;
            font-size: 12px;
            text-transform: uppercase;
            min-width: 170px;
            font-family: Raleway;
            li{
                position: relative;
                left: 0;
                float: none;
                height: auto;              
            }
        } 
        &:hover > ul {
            opacity: 1;
            visibility: visible;
            margin: 0;
            z-index: 11;
            }
    }
    &__active{
        a{
            color: $primary-colorGreen; 
        }
    }   
}


.Mypagination{
    
    color:#fff;
    font-size: 19px;
    text-align: center;
    margin-top: 30px;
    &__elem{
        width: 50px;
        height: 50px;
        background-color: $primary-colorGreen2;
        margin: 20px 5px;
        display: inline-block;
        transition:all .4s linear;
        &_active{
            background-color: $fontColor;
        }
        a{
            line-height: 50px;
            text-decoration: none;
            color: #fff;
            background-color: transparent;
            border: none;
        }
        &:hover{
            background-color: $fontColor;
        }
    }
}


.topLink{
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 3;
    line-height: 40px;
    text-align: center;
    background-color: rgba(17, 17, 17, 0.2);
    color: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    transition:all 0.5s;
    visibility: hidden;
    &:hover{    
        background-color: rgba(255, 255, 255, 0.8);
        color: rgba(17, 17, 17, 0.8);
    }
    &:active, &:focus{
        color: rgba(255, 255, 255, 0.8);  
    }

}

/*+++++++++ Блок о компании ++++++++++ */

.aboutWrap{
	//margin-top: 30px;
	padding: 15px;
	background-color: #f2f2f2;
	font-family: Raleway;
	font-size: 22px;
	text-align: justify;
    overflow: hidden;
	p{
		text-indent: 40px;
	}
	&__sign{
		margin: 30px 0;
		text-align: right;
    	font-style: italic;
    }
}

/* Кавычки */
.quotes{
    text-align: right;
    color: #646464;
    padding: 10px;
    margin: 20px;
    border-right: 4px solid #d3d3d3;
    line-height: 30px;
    &__sign{

    	font-style: italic;
    	font-size: 16px;
    }
}

#advantage{
    overflow: hidden;
}
.advantage{
    padding: 30px 0 0;
    max-width: 260px;
    margin: 30px auto;
    background-color: #fff;
    border-bottom: 1px solid #d3d3d3;
    text-align: center;
    color: #000;
    font-size: 16px;
    min-height: 280px;
    &__icon{
        font-size: 50px;
        color: rgba(194,156,109,.3);
    }
    &__title{
        font-weight: 300;
        text-transform: uppercase;
        padding: 10px;
        margin-top: 15px;
    }
    &__text{
        font-size: 19px;
        color: #666;
        text-transform: none;
        font-weight: normal;
        padding: 10px;
        margin: 10px 10px;
        line-height: 25px;

    }
    p{
        text-indent: 0px !important;
    }
    &:hover>.advantage__icon{
        color: rgba(194,156,109,.6);
    }
}


/* Анимированные цифры */

.countsWrap{
    text-align: center;
    font-size: 22px;
    font-family: Raleway;
    max-width: 1127px;
    margin: 20px auto;
    overflow:hidden;
    &__counts{
        border: 2px solid #835c39;
        border-radius: 50%;
        width: 180px;
        height: 180px;
        display: inline-block;
        margin-left: 20px;
        p{
            margin-top: 20px;
            text-indent: 0px !important;
            span{
                font-size: 50px;
                color: #835c39;
            }
        }
    }

}

/*++++++++++++ Блок Услуги ++++++++++++*/
.services{
    font-family: Raleway;
    color: $fontColor;
    font-size: 22px;
    padding-bottom: 30px;
    &__item{
        line-height: 32px;
    }
    i{
        color: rgba(194,156,109,.8);
        margin-right: 10px;
    }
}


/*++++++++++++ Блок Новости ++++++++++++*/
.newsWrap{
 
    margin: 0 auto;
    font-family: Raleway;
    font-size: 22px;
    text-align: left;
    overflow: hidden;
    padding-bottom: 30px;
}
#news{
    
}
/* Анимированный бордер */
.box {
    width: 260px;
    height: 300px;
    position: relative;
    background: rgba(255,255,255,1);
    display: inline-table;
    margin: 10px 10px;
    cursor: pointer;
     svg {
        position: absolute;
        top: 0;
        left: 0;

        line {
            stroke-width: 2;
            stroke: $primary-colorOrange;
            fill: none;
           -webkit-transition: all .5s;
            transition: all .5s;
        }

        line.top,
        line.bottom {
            stroke-dasharray: 290 200; 
        }

        line.left,
        line.right {
            stroke-dasharray: 330 240;
        }
    }
   
    &:hover {
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
    }
    &:hover svg line {
        stroke-width: 10;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
    }
}

.box:hover svg line.top {
    -webkit-transform: translateX(-260px);
    transform: translateX(-260px);
}

.box:hover svg line.bottom {
    -webkit-transform: translateX(260px);
    transform: translateX(260px);
}

 .box:hover svg line.left {
    -webkit-transform: translateY(300px);
    transform: translateY(300px);
}

.box:hover svg line.right {
    -webkit-transform: translateY(-300px);
    transform: translateY(-300px);
}



.news{
    font-family: Raleway;
    color: #333;
    font-size: 22px;
    padding-bottom: 30px;
    &__item{
        line-height: 32px;
        a{
            color:$fontColor;
            text-decoration: none;
            &:hover {
                color:$primary-colorOrange;
            }
        }

    }
    i{
        color: rgba(194,156,109,.8);
        margin-right: 10px;
    }

}

/*++++++++++++ Блок Партнеры ++++++++++++*/

.partnersWrap{
    background-color: #f2f2f2;
    font-family: Raleway;
    color: $fontColor;
    font-size: 20px;
    padding-bottom: 30px;
}

.partners{
    
    max-width: 700px;
    margin: 0 auto;
    &__item{
        line-height: 28px;
        list-style-type: circle;
           i{
        color: $primary-colorGreen;
        margin-right: 10px;
    }
    }
 
}


/* аккордеон  */
.horizontal-click [name="vkl"] { display: none; }
.horizontal-click > :not(input):not(label) {
  overflow: hidden;
  height: 0;
  margin: 0;
  padding: 0 .5em;
  border-top-style: none;
  transition: .5s;
  width: 80%;
  margin: 0 auto;
}
.horizontal-click > label {
  overflow: hidden;
  font-family: Raleway;
  font-size: 23px;
  display: block;
  padding: .5em 1em;
  background: rgba(194,156,109,.1);
  color: #333;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  text-align: center;
  line-height: 30px;
  border-bottom: 1px solid #fff;
  transition: .5s;
  margin: 0 auto;
  width: 80%;
  i{
    margin-right: 10px;
    font-size: 25px;
  }
  &:hover{
    color: rgb(131,92,57);
  }
}
.horizontal-click > :checked + label + * {
  overflow: auto;
  height: 450px;
}
.horizontal-click > :checked + label {
  background: rgba(194,156,109,.4);
  cursor: default;
  color: white;
}

/*++++++++++++ Блок Лицензии ++++++++++++*/

.licenceWrap{
    background-color: #f2f2f2;
    font-family: Raleway;
    font-size: 22px;
    text-align: center;
    overflow: hidden;
    padding-bottom: 30px;
}

.effect {
    position: relative;
    img {
        width: 100%;
        height: 100%;
    }
}

.eff-1-1 {
    max-width: 450px;
    max-height: 330px;
    margin: 10px auto;
    overflow: hidden;
    .caption {
        position: absolute;
        opacity: 0;
        top: 0px;
        line-height: 330px;
        width: 100%;
        vertical-align: middle;
        transition: all .3s linear;
        i{
            position: relative;
            top:48%;
        }
    }
    &:hover .caption {
         opacity: 1;
         background-color: rgba(255,255,255,.6);
    }
}

/*++++++++++++ Блок Контакты ++++++++++++*/

/*Карта*/
.map {
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
}


/* Базовый контейнер табов */
.tabs {
    min-width: 320px;
    padding: 0px;
    margin: 0 auto;
    text-align: center;
    input {
        display: none;
        border: none;
        &:checked +label {
            color: rgba(194,156,109,.8);
            border-bottom: 3px dashed rgba(194,156,109,.8);
        }
    }
    label {
        display: inline-block;
        margin: 0 0 -1px;
        padding: 15px 25px;
        text-align: center;
        color: #aaa;
        margin-bottom: 20px;
        margin-left: 10px;
        &:hover {
            color: #888;
            cursor: pointer;
        }
    }

  
}

section {
  display: none;
  background: #fff;
  
}

#content1,#content2{
    display: none;
}
#tab1:checked ~ #content1,
#tab2:checked ~ #content2 {
  display: block;
}



@media screen and (max-width: 1110px) {
    .advantage__title {
        font-size: 14px;
    }

}


@media screen and (max-width: 1060px) {
    .mainMenu__item {
        a{
            font-size: 16px;    
        }       
    }
    .advantage__title {
        padding: 10px 0 ;
    }
}

@media screen and (max-width: 930px) {
    .my-col-sm {
       width: 50%;
        
    }
    .mainMenu__item_white {  
            font-weight: 100 !important;   
    }
    #advantage{
        width: 90%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 910px) {
    .mainMenu__item {  
            margin: 0;  
    }
}

/* TODO */

@media (max-width: 787px) {
    #advantage{
        width: 90%;
        margin: 0 auto;
    }

    .mainMenu {
        display: none;
        position: fixed;
        top:0px;
        width: 100%;
        color:$fontColor;
        &__item{
            float: none;
            background-color: #fff;
            line-height: 30px;
            border-bottom:1px solid #f6e8e8;
            a{
                color:$fontColor !important;

            }
        }
    }
    
    .nav li:first-child a {border-top: none;}
    #touch-menu {display: block;}
}

@media screen and (max-width: 767px) {
    .countsWrap__counts{
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 700px) {
    .title__description{
        width: 60%;
    }
}

@media screen and (max-width: 605px) {
    .Mypagination__elem {
       width: 40px;
       height: 40px;
    
        a{
            line-height: 40px;
        }
    }
}

@media screen and (max-width: 555px) {
    .my-col-sm {
       width: 100%;  
    }
}

@media screen and (max-width: 515px) {
    .Mypagination__elem {
       margin: 20px 3px;
    }
}

@media screen and (max-width: 420px) {
    .fullscr__intro_big{
        font-size: 80px;
    } 

    .quotes{
        margin: 20px auto;
    } 
}


@media screen and (max-width: 360px) {
    .title__description{
        width: 100%;
    }
    .fullscr__intro_big{
        font-size: 70px;
    }  
    .Mypagination__elem {
       width: 25px;
    }
}

@media screen and (max-width: 321px) {
    .Mypagination__elem {
       width: 20px;
    }
}

