@charset "UTF-8";
/* line 5, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: Raleway;
  src: url(../fonts/ofont.ru_Raleway.ttf);
}
/* line 14, ../sass/screen.scss */
html, body {
  height: 100%;
  font-family: Arial;
  color: #333;
}

/*+++++++++++ ╨Ю╤Б╤В╨░╨╗╤М╨╜╤Л╨╡ ╤Б╤В╨╕╨╗╨╕ +++++++++++++*/
/* line 22, ../sass/screen.scss */
.fullscr {
  background-image: url(../images/factory2.jpeg);
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  text-align: center;
  z-index: 4;
  font-family: Raleway;
}
/* line 30, ../sass/screen.scss */
.fullscr__Overlay {
  z-index: 1;
  background-repeat: repeat;
  height: 100%;
}
/* line 37, ../sass/screen.scss */
.fullscr__intro {
  width: 100%;
  top: 35%;
  color: #fff;
  position: absolute;
}
/* line 42, ../sass/screen.scss */
.fullscr__intro_big {
  font-size: 100px;
  padding: 15px;
  text-transform: uppercase;
}
/* line 47, ../sass/screen.scss */
.fullscr__intro_small {
  font-size: 16px;
  padding: 15px;
}

/* ╨Ч╨░╨│╨╛╨╗╨╛╨▓╨║╨╕ */
/* line 57, ../sass/screen.scss */
.title {
  margin-top: 30px;
  font-size: 32px;
  padding: 20px;
  text-transform: uppercase;
  text-align: center;
  font-family: Raleway;
}
/* line 64, ../sass/screen.scss */
.title__line {
  margin: 30px auto 1px;
  width: 70px;
  background: rgba(135, 135, 135, 0.5);
  height: 1px;
}
/* line 70, ../sass/screen.scss */
.title__description {
  width: 50%;
  margin: 5px auto;
  color: #666;
  font-size: 22px;
  text-transform: none;
  line-height: 30px;
  font-weight: normal;
}

/* line 82, ../sass/screen.scss */
.section {
  max-width: 1127px;
  margin: 0 auto 30px;
  overflow: hidden;
}
/* line 86, ../sass/screen.scss */
.section p {
  padding: 5px;
}
/* line 88, ../sass/screen.scss */
.section p i {
  color: rgba(194, 156, 109, 0.8);
  font-size: 20px;
  margin: 5px;
}

/* line 96, ../sass/screen.scss */
#sectionDark {
  background-color: #1c0f04;
  min-height: 200px;
  text-align: center;
}
/* line 100, ../sass/screen.scss */
#sectionDark p {
  color: #c29c6d;
  line-height: 200px;
}

/* ╨Ь╨╡╨╜╤О */
/* line 110, ../sass/screen.scss */
.mainMenuWrap {
  width: 100%;
  z-index: 2;
  text-align: center;
  transition: background-color .3s linear;
  position: fixed;
  top: 0px;
  border-bottom: 1px solid #d3d3d3;
  background-color: #fff;
}

/* line 122, ../sass/screen.scss */
#touch-menu {
  padding: 10px 15px;
  font-weight: bold;
  font-size: 25px;
  color: #fff;
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 1;
  transition: all 0.3s linear;
}
/* line 134, ../sass/screen.scss */
#touch-menu:hover, #touch-menu:active {
  color: #26AF76;
  background-color: transparent;
}

/* line 141, ../sass/screen.scss */
.activeMenu {
  color: #26AF76 !important;
  background-color: transparent !important;
}

/* line 145, ../sass/screen.scss */
.mainMenu {
  text-transform: uppercase;
  display: inline-block;
  font-size: 20px;
  text-align: center;
  font-family: Raleway;
  line-height: 50px;
  max-height: 65px;
}
/* line 153, ../sass/screen.scss */
.mainMenu a {
  text-decoration: none;
  display: inline-block;
  position: relative;
}
/* line 158, ../sass/screen.scss */
.mainMenu__item {
  float: left;
  padding: 10px 15px;
  letter-spacing: 3px;
  margin: 0 10px;
  max-height: 65px;
}
/* line 164, ../sass/screen.scss */
.mainMenu__item a {
  color: #1c0f04;
  font-weight: 100;
  text-decoration: none;
}
/* line 168, ../sass/screen.scss */
.mainMenu__item a:hover {
  color: #E7746F;
}
/* line 172, ../sass/screen.scss */
.mainMenu__item_white {
  color: white !important;
  font-weight: 600 !important;
}
/* line 175, ../sass/screen.scss */
.mainMenu__item_white:hover {
  color: #E7746F !important;
}
/* line 179, ../sass/screen.scss */
.mainMenu__item ul {
  background: #1c0f04;
  transition: all .3s ease-in-out;
  visibility: hidden;
  padding: 10px;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  min-width: 170px;
  font-family: Raleway;
}
/* line 189, ../sass/screen.scss */
.mainMenu__item ul li {
  position: relative;
  left: 0;
  float: none;
  height: auto;
}
/* line 196, ../sass/screen.scss */
.mainMenu__item:hover > ul {
  opacity: 1;
  visibility: visible;
  margin: 0;
  z-index: 11;
}
/* line 204, ../sass/screen.scss */
.mainMenu__active a {
  color: #26AF76;
}

/* line 211, ../sass/screen.scss */
.Mypagination {
  color: #fff;
  font-size: 19px;
  text-align: center;
  margin-top: 30px;
}
/* line 217, ../sass/screen.scss */
.Mypagination__elem {
  width: 50px;
  height: 50px;
  background-color: #2fa49d;
  margin: 20px 5px;
  display: inline-block;
  transition: all .4s linear;
}
/* line 224, ../sass/screen.scss */
.Mypagination__elem_active {
  background-color: #1c0f04;
}
/* line 227, ../sass/screen.scss */
.Mypagination__elem a {
  line-height: 50px;
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  border: none;
}
/* line 234, ../sass/screen.scss */
.Mypagination__elem:hover {
  background-color: #1c0f04;
}

/* line 241, ../sass/screen.scss */
.topLink {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 3;
  line-height: 40px;
  text-align: center;
  background-color: rgba(17, 17, 17, 0.2);
  color: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  transition: all 0.5s;
  visibility: hidden;
}
/* line 255, ../sass/screen.scss */
.topLink:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: rgba(17, 17, 17, 0.8);
}
/* line 259, ../sass/screen.scss */
.topLink:active, .topLink:focus {
  color: rgba(255, 255, 255, 0.8);
}

/*+++++++++ ╨С╨╗╨╛╨║ ╨╛ ╨║╨╛╨╝╨┐╨░╨╜╨╕╨╕ ++++++++++ */
/* line 267, ../sass/screen.scss */
.aboutWrap {
  padding: 15px;
  background-color: #f2f2f2;
  font-family: Raleway;
  font-size: 22px;
  text-align: justify;
  overflow: hidden;
}
/* line 275, ../sass/screen.scss */
.aboutWrap p {
  text-indent: 40px;
}
/* line 278, ../sass/screen.scss */
.aboutWrap__sign {
  margin: 30px 0;
  text-align: right;
  font-style: italic;
}

/* ╨Ъ╨░╨▓╤Л╤З╨║╨╕ */
/* line 286, ../sass/screen.scss */
.quotes {
  text-align: right;
  color: #646464;
  padding: 10px;
  margin: 20px;
  border-right: 4px solid #d3d3d3;
  line-height: 30px;
}
/* line 293, ../sass/screen.scss */
.quotes__sign {
  font-style: italic;
  font-size: 16px;
}

/* line 300, ../sass/screen.scss */
#advantage {
  overflow: hidden;
}

/* line 303, ../sass/screen.scss */
.advantage {
  padding: 30px 0 0;
  max-width: 260px;
  margin: 30px auto;
  background-color: #fff;
  border-bottom: 1px solid #d3d3d3;
  text-align: center;
  color: #000;
  font-size: 16px;
  min-height: 280px;
}
/* line 313, ../sass/screen.scss */
.advantage__icon {
  font-size: 50px;
  color: rgba(194, 156, 109, 0.3);
}
/* line 317, ../sass/screen.scss */
.advantage__title {
  font-weight: 300;
  text-transform: uppercase;
  padding: 10px;
  margin-top: 15px;
}
/* line 323, ../sass/screen.scss */
.advantage__text {
  font-size: 19px;
  color: #666;
  text-transform: none;
  font-weight: normal;
  padding: 10px;
  margin: 10px 10px;
  line-height: 25px;
}
/* line 333, ../sass/screen.scss */
.advantage p {
  text-indent: 0px !important;
}
/* line 336, ../sass/screen.scss */
.advantage:hover > .advantage__icon {
  color: rgba(194, 156, 109, 0.6);
}

/* ╨Р╨╜╨╕╨╝╨╕╤А╨╛╨▓╨░╨╜╨╜╤Л╨╡ ╤Ж╨╕╤Д╤А╤Л */
/* line 344, ../sass/screen.scss */
.countsWrap {
  text-align: center;
  font-size: 22px;
  font-family: Raleway;
  max-width: 1127px;
  margin: 20px auto;
  overflow: hidden;
}
/* line 351, ../sass/screen.scss */
.countsWrap__counts {
  border: 2px solid #835c39;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  display: inline-block;
  margin-left: 20px;
}
/* line 358, ../sass/screen.scss */
.countsWrap__counts p {
  margin-top: 20px;
  text-indent: 0px !important;
}
/* line 361, ../sass/screen.scss */
.countsWrap__counts p span {
  font-size: 50px;
  color: #835c39;
}

/*++++++++++++ ╨С╨╗╨╛╨║ ╨г╤Б╨╗╤Г╨│╨╕ ++++++++++++*/
/* line 371, ../sass/screen.scss */
.services {
  font-family: Raleway;
  color: #1c0f04;
  font-size: 22px;
  padding-bottom: 30px;
}
/* line 376, ../sass/screen.scss */
.services__item {
  line-height: 32px;
}
/* line 379, ../sass/screen.scss */
.services i {
  color: rgba(194, 156, 109, 0.8);
  margin-right: 10px;
}

/*++++++++++++ ╨С╨╗╨╛╨║ ╨Э╨╛╨▓╨╛╤Б╤В╨╕ ++++++++++++*/
/* line 387, ../sass/screen.scss */
.newsWrap {
  margin: 0 auto;
  font-family: Raleway;
  font-size: 22px;
  text-align: left;
  overflow: hidden;
  padding-bottom: 30px;
}

/* ╨Р╨╜╨╕╨╝╨╕╤А╨╛╨▓╨░╨╜╨╜╤Л╨╣ ╨▒╨╛╤А╨┤╨╡╤А */
/* line 400, ../sass/screen.scss */
.box {
  width: 260px;
  height: 300px;
  position: relative;
  background: white;
  display: inline-table;
  margin: 10px 10px;
  cursor: pointer;
}
/* line 408, ../sass/screen.scss */
.box svg {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 413, ../sass/screen.scss */
.box svg line {
  stroke-width: 2;
  stroke: #E7746F;
  fill: none;
  -webkit-transition: all .5s;
  transition: all .5s;
}
/* line 421, ../sass/screen.scss */
.box svg line.top,
.box svg line.bottom {
  stroke-dasharray: 290 200;
}
/* line 426, ../sass/screen.scss */
.box svg line.left,
.box svg line.right {
  stroke-dasharray: 330 240;
}
/* line 432, ../sass/screen.scss */
.box:hover {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
/* line 436, ../sass/screen.scss */
.box:hover svg line {
  stroke-width: 10;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

/* line 443, ../sass/screen.scss */
.box:hover svg line.top {
  -webkit-transform: translateX(-260px);
  transform: translateX(-260px);
}

/* line 448, ../sass/screen.scss */
.box:hover svg line.bottom {
  -webkit-transform: translateX(260px);
  transform: translateX(260px);
}

/* line 453, ../sass/screen.scss */
.box:hover svg line.left {
  -webkit-transform: translateY(300px);
  transform: translateY(300px);
}

/* line 458, ../sass/screen.scss */
.box:hover svg line.right {
  -webkit-transform: translateY(-300px);
  transform: translateY(-300px);
}

/* line 465, ../sass/screen.scss */
.news {
  font-family: Raleway;
  color: #333;
  font-size: 22px;
  padding-bottom: 30px;
}
/* line 470, ../sass/screen.scss */
.news__item {
  line-height: 32px;
}
/* line 472, ../sass/screen.scss */
.news__item a {
  color: #1c0f04;
  text-decoration: none;
}
/* line 475, ../sass/screen.scss */
.news__item a:hover {
  color: #E7746F;
}
/* line 481, ../sass/screen.scss */
.news i {
  color: rgba(194, 156, 109, 0.8);
  margin-right: 10px;
}

/*++++++++++++ ╨С╨╗╨╛╨║ ╨Я╨░╤А╤В╨╜╨╡╤А╤Л ++++++++++++*/
/* line 490, ../sass/screen.scss */
.partnersWrap {
  background-color: #f2f2f2;
  font-family: Raleway;
  color: #1c0f04;
  font-size: 20px;
  padding-bottom: 30px;
}

/* line 498, ../sass/screen.scss */
.partners {
  max-width: 700px;
  margin: 0 auto;
}
/* line 502, ../sass/screen.scss */
.partners__item {
  line-height: 28px;
  list-style-type: circle;
}
/* line 505, ../sass/screen.scss */
.partners__item i {
  color: #26AF76;
  margin-right: 10px;
}

/* ╨░╨║╨║╨╛╤А╨┤╨╡╨╛╨╜  */
/* line 515, ../sass/screen.scss */
.horizontal-click [name="vkl"] {
  display: none;
}

/* line 516, ../sass/screen.scss */
.horizontal-click > :not(input):not(label) {
  overflow: hidden;
  height: 0;
  margin: 0;
  padding: 0 .5em;
  border-top-style: none;
  transition: .5s;
  width: 80%;
  margin: 0 auto;
}

/* line 526, ../sass/screen.scss */
.horizontal-click > label {
  overflow: hidden;
  font-family: Raleway;
  font-size: 23px;
  display: block;
  padding: .5em 1em;
  background: rgba(194, 156, 109, 0.1);
  color: #333;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  text-align: center;
  line-height: 30px;
  border-bottom: 1px solid #fff;
  transition: .5s;
  margin: 0 auto;
  width: 80%;
}
/* line 543, ../sass/screen.scss */
.horizontal-click > label i {
  margin-right: 10px;
  font-size: 25px;
}
/* line 547, ../sass/screen.scss */
.horizontal-click > label:hover {
  color: #835c39;
}

/* line 551, ../sass/screen.scss */
.horizontal-click > :checked + label + * {
  overflow: auto;
  height: 450px;
}

/* line 555, ../sass/screen.scss */
.horizontal-click > :checked + label {
  background: rgba(194, 156, 109, 0.4);
  cursor: default;
  color: white;
}

/*++++++++++++ ╨С╨╗╨╛╨║ ╨Ы╨╕╤Ж╨╡╨╜╨╖╨╕╨╕ ++++++++++++*/
/* line 563, ../sass/screen.scss */
.licenceWrap {
  background-color: #f2f2f2;
  font-family: Raleway;
  font-size: 22px;
  text-align: center;
  overflow: hidden;
  padding-bottom: 30px;
}

/* line 572, ../sass/screen.scss */
.effect {
  position: relative;
}
/* line 574, ../sass/screen.scss */
.effect img {
  width: 100%;
  height: 100%;
}

/* line 580, ../sass/screen.scss */
.eff-1-1 {
  max-width: 450px;
  max-height: 330px;
  margin: 10px auto;
  overflow: hidden;
}
/* line 585, ../sass/screen.scss */
.eff-1-1 .caption {
  position: absolute;
  opacity: 0;
  top: 0px;
  line-height: 330px;
  width: 100%;
  vertical-align: middle;
  transition: all .3s linear;
}
/* line 593, ../sass/screen.scss */
.eff-1-1 .caption i {
  position: relative;
  top: 48%;
}
/* line 598, ../sass/screen.scss */
.eff-1-1:hover .caption {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.6);
}

/*++++++++++++ ╨С╨╗╨╛╨║ ╨Ъ╨╛╨╜╤В╨░╨║╤В╤Л ++++++++++++*/
/*╨Ъ╨░╤А╤В╨░*/
/* line 607, ../sass/screen.scss */
.map {
  width: 100%;
  height: 500px;
  margin-bottom: 20px;
}

/* ╨С╨░╨╖╨╛╨▓╤Л╨╣ ╨║╨╛╨╜╤В╨╡╨╣╨╜╨╡╤А ╤В╨░╨▒╨╛╨▓ */
/* line 615, ../sass/screen.scss */
.tabs {
  min-width: 320px;
  padding: 0px;
  margin: 0 auto;
  text-align: center;
}
/* line 620, ../sass/screen.scss */
.tabs input {
  display: none;
  border: none;
}
/* line 623, ../sass/screen.scss */
.tabs input:checked + label {
  color: rgba(194, 156, 109, 0.8);
  border-bottom: 3px dashed rgba(194, 156, 109, 0.8);
}
/* line 628, ../sass/screen.scss */
.tabs label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  text-align: center;
  color: #aaa;
  margin-bottom: 20px;
  margin-left: 10px;
}
/* line 636, ../sass/screen.scss */
.tabs label:hover {
  color: #888;
  cursor: pointer;
}

/* line 645, ../sass/screen.scss */
section {
  display: none;
  background: #fff;
}

/* line 651, ../sass/screen.scss */
#content1, #content2 {
  display: none;
}

/* line 654, ../sass/screen.scss */
#tab1:checked ~ #content1,
#tab2:checked ~ #content2 {
  display: block;
}

@media screen and (max-width: 1110px) {
  /* line 662, ../sass/screen.scss */
  .advantage__title {
    font-size: 14px;
  }
}
@media screen and (max-width: 1060px) {
  /* line 671, ../sass/screen.scss */
  .mainMenu__item a {
    font-size: 16px;
  }

  /* line 675, ../sass/screen.scss */
  .advantage__title {
    padding: 10px 0;
  }
}
@media screen and (max-width: 930px) {
  /* line 681, ../sass/screen.scss */
  .my-col-sm {
    width: 50%;
  }

  /* line 685, ../sass/screen.scss */
  .mainMenu__item_white {
    font-weight: 100 !important;
  }

  /* line 688, ../sass/screen.scss */
  #advantage {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 910px) {
  /* line 695, ../sass/screen.scss */
  .mainMenu__item {
    margin: 0;
  }
}
/* TODO */
@media (max-width: 787px) {
  /* line 703, ../sass/screen.scss */
  #advantage {
    width: 90%;
    margin: 0 auto;
  }

  /* line 708, ../sass/screen.scss */
  .mainMenu {
    display: none;
    position: fixed;
    top: 0px;
    width: 100%;
    color: #1c0f04;
  }
  /* line 714, ../sass/screen.scss */
  .mainMenu__item {
    float: none;
    background-color: #fff;
    line-height: 30px;
    border-bottom: 1px solid #f6e8e8;
  }
  /* line 719, ../sass/screen.scss */
  .mainMenu__item a {
    color: #1c0f04 !important;
  }

  /* line 726, ../sass/screen.scss */
  .nav li:first-child a {
    border-top: none;
  }

  /* line 727, ../sass/screen.scss */
  #touch-menu {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  /* line 731, ../sass/screen.scss */
  .countsWrap__counts {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 700px) {
  /* line 738, ../sass/screen.scss */
  .title__description {
    width: 60%;
  }
}
@media screen and (max-width: 605px) {
  /* line 744, ../sass/screen.scss */
  .Mypagination__elem {
    width: 40px;
    height: 40px;
  }
  /* line 748, ../sass/screen.scss */
  .Mypagination__elem a {
    line-height: 40px;
  }
}
@media screen and (max-width: 555px) {
  /* line 755, ../sass/screen.scss */
  .my-col-sm {
    width: 100%;
  }
}
@media screen and (max-width: 515px) {
  /* line 761, ../sass/screen.scss */
  .Mypagination__elem {
    margin: 20px 3px;
  }
}
@media screen and (max-width: 420px) {
  /* line 767, ../sass/screen.scss */
  .fullscr__intro_big {
    font-size: 80px;
  }

  /* line 771, ../sass/screen.scss */
  .quotes {
    margin: 20px auto;
  }
}
@media screen and (max-width: 360px) {
  /* line 778, ../sass/screen.scss */
  .title__description {
    width: 100%;
  }

  /* line 781, ../sass/screen.scss */
  .fullscr__intro_big {
    font-size: 70px;
  }

  /* line 784, ../sass/screen.scss */
  .Mypagination__elem {
    width: 25px;
  }
}
@media screen and (max-width: 321px) {
  /* line 790, ../sass/screen.scss */
  .Mypagination__elem {
    width: 20px;
  }
}
