@charset "UTF-8";
/* line 5, ../../../../../../../usr/local/rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/local/rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/local/rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/local/rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/local/rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/local/rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/local/rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/local/rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/local/rvm/gems/ruby-2.2.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: Raleway;
  src: url(../fonts/ofont.ru_Raleway.ttf);
}
/* line 11, ../sass/screen.scss */
html, body {
  height: 100%;
  font-family: Arial;
  color: #333;
}

/*+++++++++++ Остальные стили +++++++++++++*/
/* line 19, ../sass/screen.scss */
.fullscr {
  background-image: url(../images/factory2.jpeg);
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  text-align: center;
  z-index: 4;
  font-family: Raleway;
}
/* line 27, ../sass/screen.scss */
.fullscr__Overlay {
  z-index: 1;
  background-repeat: repeat;
  height: 100%;
}
/* line 34, ../sass/screen.scss */
.fullscr__intro {
  width: 100%;
  top: 35%;
  color: #fff;
  position: absolute;
}
/* line 39, ../sass/screen.scss */
.fullscr__intro_big {
  font-size: 100px;
  padding: 15px;
  text-transform: uppercase;
}
/* line 44, ../sass/screen.scss */
.fullscr__intro_small {
  font-size: 16px;
  padding: 15px;
}

/* Заголовки */
/* line 54, ../sass/screen.scss */
.title {
  margin-top: 30px;
  font-size: 32px;
  padding: 20px;
  text-transform: uppercase;
  text-align: center;
  font-family: Raleway;
}
/* line 61, ../sass/screen.scss */
.title__line {
  margin: 30px auto 1px;
  width: 70px;
  background: rgba(135, 135, 135, 0.5);
  height: 1px;
}
/* line 67, ../sass/screen.scss */
.title__description {
  width: 50%;
  margin: 5px auto;
  color: #666;
  font-size: 22px;
  text-transform: none;
  line-height: 30px;
  font-weight: normal;
}

/* line 79, ../sass/screen.scss */
.section {
  max-width: 1127px;
  margin: 0 auto 30px;
  overflow: hidden;
}
/* line 83, ../sass/screen.scss */
.section p {
  padding: 5px;
}
/* line 85, ../sass/screen.scss */
.section p i {
  color: #26AF76;
  font-size: 20px;
  margin: 5px;
}

/* line 93, ../sass/screen.scss */
#sectionDark {
  background-color: #333;
  min-height: 200px;
}

/* Меню */
/* line 101, ../sass/screen.scss */
.mainMenuWrap {
  width: 100%;
  z-index: 2;
  text-align: center;
  transition: background-color .3s linear;
  position: fixed;
  top: 0px;
  border-bottom: 1px solid #d3d3d3;
  background-color: #fff;
}

/* line 113, ../sass/screen.scss */
#touch-menu {
  padding: 10px 15px;
  font-weight: bold;
  font-size: 25px;
  color: #fff;
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 1;
  transition: all 0.3s linear;
}
/* line 125, ../sass/screen.scss */
#touch-menu:hover, #touch-menu:active {
  color: #26AF76;
  background-color: transparent;
}

/* line 132, ../sass/screen.scss */
.activeMenu {
  color: #26AF76 !important;
  background-color: transparent !important;
}

/* line 136, ../sass/screen.scss */
.mainMenu {
  text-transform: uppercase;
  display: inline-block;
  font-size: 20px;
  text-align: center;
  font-family: Raleway;
  line-height: 50px;
  max-height: 65px;
}
/* line 144, ../sass/screen.scss */
.mainMenu a {
  text-decoration: none;
  display: inline-block;
  position: relative;
}
/* line 149, ../sass/screen.scss */
.mainMenu__item {
  float: left;
  padding: 10px 15px;
  letter-spacing: 3px;
  margin: 0 10px;
  max-height: 65px;
}
/* line 155, ../sass/screen.scss */
.mainMenu__item a {
  color: #333;
  font-weight: 100;
  text-decoration: none;
}
/* line 159, ../sass/screen.scss */
.mainMenu__item a:hover {
  color: #E7746F;
}
/* line 163, ../sass/screen.scss */
.mainMenu__item_white {
  color: white !important;
  font-weight: 600 !important;
}
/* line 166, ../sass/screen.scss */
.mainMenu__item_white:hover {
  color: #E7746F !important;
}
/* line 170, ../sass/screen.scss */
.mainMenu__item ul {
  background: #333333;
  transition: all .3s ease-in-out;
  visibility: hidden;
  padding: 10px;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  min-width: 170px;
  font-family: Raleway;
}
/* line 180, ../sass/screen.scss */
.mainMenu__item ul li {
  position: relative;
  left: 0;
  float: none;
  height: auto;
}
/* line 187, ../sass/screen.scss */
.mainMenu__item:hover > ul {
  opacity: 1;
  visibility: visible;
  margin: 0;
  z-index: 11;
}
/* line 195, ../sass/screen.scss */
.mainMenu__active a {
  color: #26AF76;
}

/* line 202, ../sass/screen.scss */
.Mypagination {
  color: #fff;
  font-size: 19px;
  text-align: center;
  margin-top: 30px;
}
/* line 208, ../sass/screen.scss */
.Mypagination__elem {
  width: 50px;
  height: 50px;
  background-color: #2fa49d;
  margin: 20px 5px;
  display: inline-block;
  transition: all .4s linear;
}
/* line 215, ../sass/screen.scss */
.Mypagination__elem_active {
  background-color: #333;
}
/* line 218, ../sass/screen.scss */
.Mypagination__elem a {
  line-height: 50px;
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  border: none;
}
/* line 225, ../sass/screen.scss */
.Mypagination__elem:hover {
  background-color: #333;
}

/* line 232, ../sass/screen.scss */
.topLink {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 3;
  line-height: 40px;
  text-align: center;
  background-color: rgba(17, 17, 17, 0.2);
  color: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  transition: all 0.5s;
  visibility: hidden;
}
/* line 246, ../sass/screen.scss */
.topLink:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: rgba(17, 17, 17, 0.8);
}
/* line 250, ../sass/screen.scss */
.topLink:active, .topLink:focus {
  color: rgba(255, 255, 255, 0.8);
}

/*+++++++++ Блок о компании ++++++++++ */
/* line 258, ../sass/screen.scss */
.aboutWrap {
  padding: 15px;
  background-color: #f2f2f2;
  font-family: Raleway;
  font-size: 22px;
  text-align: justify;
  overflow: hidden;
}
/* line 266, ../sass/screen.scss */
.aboutWrap p {
  text-indent: 40px;
}
/* line 269, ../sass/screen.scss */
.aboutWrap__sign {
  margin: 30px 0;
  text-align: right;
  font-style: italic;
}

/* Кавычки */
/* line 277, ../sass/screen.scss */
.quotes {
  text-align: right;
  color: #646464;
  padding: 10px;
  margin: 20px;
  border-right: 4px solid #d3d3d3;
  line-height: 30px;
}
/* line 284, ../sass/screen.scss */
.quotes__sign {
  font-style: italic;
  font-size: 16px;
}

/* line 291, ../sass/screen.scss */
#advantage {
  overflow: hidden;
}

/* line 294, ../sass/screen.scss */
.advantage {
  padding: 30px 0 0;
  max-width: 260px;
  margin: 30px auto;
  background-color: #fff;
  border-bottom: 1px solid #d3d3d3;
  text-align: center;
  color: #000;
  font-size: 16px;
  min-height: 280px;
}
/* line 304, ../sass/screen.scss */
.advantage__icon {
  font-size: 50px;
  color: #26AF76;
}
/* line 308, ../sass/screen.scss */
.advantage__title {
  font-weight: 300;
  text-transform: uppercase;
  padding: 10px;
  margin-top: 15px;
}
/* line 314, ../sass/screen.scss */
.advantage__text {
  font-size: 19px;
  color: #666;
  text-transform: none;
  font-weight: normal;
  padding: 10px;
  margin: 10px 10px;
  line-height: 25px;
}
/* line 324, ../sass/screen.scss */
.advantage p {
  text-indent: 0px !important;
}
/* line 327, ../sass/screen.scss */
.advantage:hover > .advantage__icon {
  color: #E7746F;
}

/* Анимированные цифры */
/* line 335, ../sass/screen.scss */
.countsWrap {
  text-align: center;
  font-size: 22px;
  font-family: Raleway;
  max-width: 1127px;
  margin: 20px auto;
  overflow: hidden;
}
/* line 342, ../sass/screen.scss */
.countsWrap__counts {
  border: 2px solid #E7746F;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  display: inline-block;
  margin-left: 20px;
}
/* line 349, ../sass/screen.scss */
.countsWrap__counts p {
  margin-top: 20px;
  text-indent: 0px !important;
}
/* line 352, ../sass/screen.scss */
.countsWrap__counts p span {
  font-size: 50px;
  color: #E7746F;
}

/*++++++++++++ Блок Услуги ++++++++++++*/
/* line 362, ../sass/screen.scss */
.services {
  font-family: Raleway;
  color: #333;
  font-size: 22px;
  padding-bottom: 30px;
}
/* line 367, ../sass/screen.scss */
.services__item {
  line-height: 32px;
}
/* line 370, ../sass/screen.scss */
.services i {
  color: #26AF76;
  margin-right: 10px;
}

/*++++++++++++ Блок Новости ++++++++++++*/
/* line 378, ../sass/screen.scss */
.newsWrap {
  margin: 0 auto;
  font-family: Raleway;
  font-size: 22px;
  text-align: left;
  overflow: hidden;
  padding-bottom: 30px;
}

/* Анимированный бордер */
/* line 391, ../sass/screen.scss */
.box {
  width: 260px;
  height: 300px;
  position: relative;
  background: white;
  display: inline-table;
  margin: 10px 10px;
  cursor: pointer;
}
/* line 399, ../sass/screen.scss */
.box svg {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 404, ../sass/screen.scss */
.box svg line {
  stroke-width: 2;
  stroke: #E7746F;
  fill: none;
  -webkit-transition: all .5s;
  transition: all .5s;
}
/* line 412, ../sass/screen.scss */
.box svg line.top,
.box svg line.bottom {
  stroke-dasharray: 290 200;
}
/* line 417, ../sass/screen.scss */
.box svg line.left,
.box svg line.right {
  stroke-dasharray: 330 240;
}
/* line 423, ../sass/screen.scss */
.box:hover {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
/* line 427, ../sass/screen.scss */
.box:hover svg line {
  stroke-width: 10;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

/* line 434, ../sass/screen.scss */
.box:hover svg line.top {
  -webkit-transform: translateX(-260px);
  transform: translateX(-260px);
}

/* line 439, ../sass/screen.scss */
.box:hover svg line.bottom {
  -webkit-transform: translateX(260px);
  transform: translateX(260px);
}

/* line 444, ../sass/screen.scss */
.box:hover svg line.left {
  -webkit-transform: translateY(300px);
  transform: translateY(300px);
}

/* line 449, ../sass/screen.scss */
.box:hover svg line.right {
  -webkit-transform: translateY(-300px);
  transform: translateY(-300px);
}

/* line 456, ../sass/screen.scss */
.news {
  font-family: Raleway;
  color: #333;
  font-size: 22px;
  padding-bottom: 30px;
}
/* line 461, ../sass/screen.scss */
.news__item {
  line-height: 32px;
}
/* line 463, ../sass/screen.scss */
.news__item a {
  color: #333;
  text-decoration: none;
}
/* line 466, ../sass/screen.scss */
.news__item a:hover {
  color: #E7746F;
}
/* line 472, ../sass/screen.scss */
.news i {
  color: #26AF76;
  margin-right: 10px;
}

/*++++++++++++ Блок Партнеры ++++++++++++*/
/* line 481, ../sass/screen.scss */
.partners {
  background-color: #f2f2f2;
  font-family: Raleway;
  color: #333;
  font-size: 20px;
  padding-bottom: 30px;
  text-align: center;
}
/* line 488, ../sass/screen.scss */
.partners__item {
  line-height: 28px;
}
/* line 490, ../sass/screen.scss */
.partners__item i {
  color: #26AF76;
  margin-right: 10px;
}

/* аккордеон  */
/* line 500, ../sass/screen.scss */
.horizontal-click [name="vkl"] {
  display: none;
}

/* line 501, ../sass/screen.scss */
.horizontal-click > :not(input):not(label) {
  overflow: hidden;
  height: 0;
  margin: 0;
  padding: 0 .5em;
  border-top-style: none;
  transition: .5s;
  width: 80%;
  margin: 0 auto;
}

/* line 511, ../sass/screen.scss */
.horizontal-click > label {
  overflow: hidden;
  font-family: Raleway;
  font-size: 23px;
  display: block;
  padding: .5em 1em;
  background: #f6e8e8;
  color: #333;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  text-align: center;
  line-height: 30px;
  border-bottom: 1px solid #fff;
  transition: .5s;
  margin: 0 auto;
  width: 80%;
}
/* line 528, ../sass/screen.scss */
.horizontal-click > label i {
  margin-right: 10px;
  font-size: 25px;
}
/* line 532, ../sass/screen.scss */
.horizontal-click > label:hover {
  color: #26AF76;
}

/* line 536, ../sass/screen.scss */
.horizontal-click > :checked + label + * {
  overflow: auto;
  height: 450px;
}

/* line 540, ../sass/screen.scss */
.horizontal-click > :checked + label {
  background: #26AF76;
  cursor: default;
  color: white;
}

/*++++++++++++ Блок Лицензии ++++++++++++*/
/* line 548, ../sass/screen.scss */
.licenceWrap {
  background-color: #f2f2f2;
  font-family: Raleway;
  font-size: 22px;
  text-align: center;
  overflow: hidden;
  padding-bottom: 30px;
}

/* line 557, ../sass/screen.scss */
.effect {
  position: relative;
}
/* line 559, ../sass/screen.scss */
.effect img {
  width: 100%;
  height: 100%;
}

/* line 565, ../sass/screen.scss */
.eff-1-1 {
  max-width: 450px;
  margin: 10px auto;
  overflow: hidden;
}
/* line 569, ../sass/screen.scss */
.eff-1-1 .caption {
  position: absolute;
  top: -100%;
  left: 0px;
  background: rgba(38, 175, 118, 0.8);
  width: 100%;
  height: 100%;
  color: #fff;
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
  -ms-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
  transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
}
/* line 582, ../sass/screen.scss */
.eff-1-1 .caption i {
  position: relative;
  top: 48%;
}
/* line 587, ../sass/screen.scss */
.eff-1-1:hover .caption {
  top: 0px;
}

/*++++++++++++ Блок Контакты ++++++++++++*/
/*Карта*/
/* line 595, ../sass/screen.scss */
.map {
  width: 100%;
  height: 500px;
  margin-bottom: 20px;
}

/* Базовый контейнер табов */
/* line 603, ../sass/screen.scss */
.tabs {
  min-width: 320px;
  padding: 0px;
  margin: 0 auto;
  text-align: center;
}
/* line 608, ../sass/screen.scss */
.tabs input {
  display: none;
  border: none;
}
/* line 611, ../sass/screen.scss */
.tabs input:checked + label {
  color: #26AF76;
  border-bottom: 3px dashed #26AF76;
}
/* line 616, ../sass/screen.scss */
.tabs label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  text-align: center;
  color: #aaa;
  margin-bottom: 20px;
  margin-left: 10px;
}
/* line 624, ../sass/screen.scss */
.tabs label:hover {
  color: #888;
  cursor: pointer;
}

/* line 633, ../sass/screen.scss */
section {
  display: none;
  background: #fff;
}

/* line 639, ../sass/screen.scss */
#content1, #content2 {
  display: none;
}

/* line 642, ../sass/screen.scss */
#tab1:checked ~ #content1,
#tab2:checked ~ #content2 {
  display: block;
}

@media screen and (max-width: 1110px) {
  /* line 650, ../sass/screen.scss */
  .advantage__title {
    font-size: 14px;
  }
}
@media screen and (max-width: 1060px) {
  /* line 659, ../sass/screen.scss */
  .mainMenu__item a {
    font-size: 16px;
  }

  /* line 663, ../sass/screen.scss */
  .advantage__title {
    padding: 10px 0;
  }
}
@media screen and (max-width: 930px) {
  /* line 669, ../sass/screen.scss */
  .my-col-sm {
    width: 50%;
  }

  /* line 673, ../sass/screen.scss */
  .mainMenu__item_white {
    font-weight: 100 !important;
  }

  /* line 676, ../sass/screen.scss */
  #advantage {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 910px) {
  /* line 683, ../sass/screen.scss */
  .mainMenu__item {
    margin: 0;
  }
}
/* TODO */
@media (max-width: 787px) {
  /* line 691, ../sass/screen.scss */
  #advantage {
    width: 90%;
    margin: 0 auto;
  }

  /* line 696, ../sass/screen.scss */
  .mainMenu {
    display: none;
    position: fixed;
    top: 0px;
    width: 100%;
    color: #333;
  }
  /* line 702, ../sass/screen.scss */
  .mainMenu__item {
    float: none;
    background-color: #fff;
    line-height: 30px;
    border-bottom: 1px solid #f6e8e8;
  }
  /* line 707, ../sass/screen.scss */
  .mainMenu__item a {
    color: #333 !important;
  }

  /* line 714, ../sass/screen.scss */
  .nav li:first-child a {
    border-top: none;
  }

  /* line 715, ../sass/screen.scss */
  #touch-menu {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  /* line 719, ../sass/screen.scss */
  .countsWrap__counts {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 700px) {
  /* line 726, ../sass/screen.scss */
  .title__description {
    width: 60%;
  }
}
@media screen and (max-width: 605px) {
  /* line 732, ../sass/screen.scss */
  .Mypagination__elem {
    width: 40px;
    height: 40px;
  }
  /* line 736, ../sass/screen.scss */
  .Mypagination__elem a {
    line-height: 40px;
  }
}
@media screen and (max-width: 555px) {
  /* line 743, ../sass/screen.scss */
  .my-col-sm {
    width: 100%;
  }
}
@media screen and (max-width: 515px) {
  /* line 749, ../sass/screen.scss */
  .Mypagination__elem {
    margin: 20px 3px;
  }
}
@media screen and (max-width: 420px) {
  /* line 755, ../sass/screen.scss */
  .fullscr__intro_big {
    font-size: 80px;
  }

  /* line 759, ../sass/screen.scss */
  .quotes {
    margin: 20px auto;
  }
}
@media screen and (max-width: 360px) {
  /* line 766, ../sass/screen.scss */
  .title__description {
    width: 100%;
  }

  /* line 769, ../sass/screen.scss */
  .fullscr__intro_big {
    font-size: 70px;
  }

  /* line 772, ../sass/screen.scss */
  .Mypagination__elem {
    width: 25px;
  }
}
@media screen and (max-width: 321px) {
  /* line 778, ../sass/screen.scss */
  .Mypagination__elem {
    width: 20px;
  }
}
